/*
This is the visible area of you carousel.
Set a width here to define how much items are visible.
The width can be either fixed in px or flexible in %.
Position must be relative!
*/

.jcarousel {
    text-align: center;
    position: relative;
    overflow: hidden;
    width: 640px;
}

/*
This is the container of the carousel items.
You must ensure that the position is relative or absolute and
that the width is big enough to contain all items.
*/

.jcarousel ul {
    width: 20000em;
    position: relative;
    /* Optional, required in this case since it's a <ul> element */
    list-style: none;
    margin: 0;
    padding: 0;
}

/*
These are the item elements. jCarousel works best, if the items
have a fixed width and height (but it's not required).
*/

.jcarousel li {
    /* Required only for block elements like <li>'s */
    float: left;
    width: 620px;
    padding: 10px;
}
.jcarousel li img {
  display: block;
  background-color: white;
  padding: 10px;
  border: 2px solid black;

}
.jcarousel-prev, .jcarousel-next {
    position: absolute;
    top: 50%;
    display: block;
    text-decoration: none;
    color: lightgrey;
    background-color: rgba(0, 0, 0, 0.5);
    width: 80px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    border: 1px double lightgrey;
}
.jcarousel-prev:hover, .jcarousel-next:hover {
  background-color: grey;
}
.jcarousel-prev {
    left: -23px;
}
.jcarousel-next {
    right: -47px;
}
.jcarouselAll {
    position: relative;
    width: 620px;
    margin: auto;
}
