body {
    background-color: rgb(249, 249, 249);
    font-size: small;
    font-family: sans-serif;
}
.all {
    background-color: rgb(255, 255, 255);
    width: 970px;
    padding: 50px 45px 50px 45px;
    margin: 0 auto;
    box-shadow: 0 0 2px grey;
}
.topNav {
    width: 970px;
    background-image: linear-gradient(#444343, #5e5e5e);
    margin: 40px 0px;
    height: 40px;
    padding: 0px;
}
.topNav ul {
    margin: 0px;
    list-style-type: none;
    padding: 0px;
}
.topNav li {
    display: inline-block;
    width: 140px;
    height: 40px;
    font-size: 160%;
    text-align: center;
    line-height: 40px;
    margin: 0px 1px;
    border-left: thin solid rgba (0, 0, 0, 0);
    border-right: thin solid rgba (0, 0, 0, 0);
}
.topNav li a {
    color: white;
    text-decoration: none;
}
.topNav li:hover {
    background-image: linear-gradient(#2e2e2e, #4a4a4a);
    border-left: thin solid #838383;
    border-right: thin solid #838383;
    margin: 0px;
}
aside {
    float: left;
    width: 240px;
    border: thin solid #c8c8c8;
}
aside p {
    border-bottom: thin solid #c8c8c8;
    margin: 0px;
    padding: 0px;
    font-size: 110%;
}
aside p a {
    display: block;
    text-decoration: none;
    color: #656363;
    height: 100%;
    width: 100%;
    padding: 10px 10px 10px 20px;
}
aside p:hover {
    color: black;
    padding-left: 30px;
}
aside p:last-child {
    border-bottom: none;
}
section {
    margin-left: 285px;
    line-height: 200%;
}
section p:first-child {
    border: thin solid #c8c8c8;
    text-align: center;
    padding: 50px 0px;
}
footer {
    background-color: #e1e1e1;
    height: 40px;
}
footer p {
    display: inline;
    height: 40px;
    line-height: 40px;
    font-size: 110%;
    margin: 0px 35px;
    color: #2c2c2c;
}
footer p:last-child {
float: right;
}
footer a {
    text-decoration: none;
    color: #2c2c2c;
}
p.footmenu :hover {
    text-decoration: underline;
}
