* {
    margin: 0px;
    padding: 0px;
}
body {
    font-size: small;
    font-family: "Tahoma", sans-serif;
    background-image: url(images/Background2.jpg);
}
.all {
    width: 1000px;
    margin: 0px auto 10px auto;
    background-color: white;
    box-shadow: 0px 3px 5px black;
}
header {
    padding-top: 11px;
}
header>img:first-child {
    padding-left: 50px;
    margin-bottom: -3px;
}
.picture {
    border-top: thin solid #128aa7;
    border-bottom: thin solid #138aa7;
}
.flags a {
    margin: 42px 5px 0px 0px;
    display: inline-block;
    width: 50px;
    text-align: center;
    font-size: 0.8em;
    color: #128aa7;
}
.headRight {
    width: 400px;
    float: right;
    font-size: 0.9em;
}
.contacts {
    margin: 0px;
    padding: 0px;
}
.contacts p {
    color: #128aa7;
    margin: 0px;
    padding: 0px 0px 0px 250px;
}
.contacts p:first-child {
    font-weight: bold;
    line-height: 1.6em;
}
nav {
    position: relative;
    margin-top: -3px;
    z-index: 200;
    box-shadow: 0px 3px 3px black;
}
.menu {
    background-image: linear-gradient(#303030, #373737);
    color: white;
    height: 30px;
    padding: 0px 20px;
    box-shadow: 0px 3px 3px black;
    z-index: 200;
}
.menu>li {
    display: inline-block;
    line-height: 30px;
    width: 130px;
    margin: 0px 0px;
    text-align: center;
}
.menu>li a {
    display: block;
    width: 130px;
    height: 30px;
    text-decoration: none;
    color: white;
}
.submenu {
    position: absolute;
    top: 30px;
    width: 140px;
    color: white;
    background-color: #303030;
    box-shadow: 0px 3px 3px black;
}
.chase:hover .submenu, .submenu:hover {
    list-style-type: none;
}
.submenu li a {
    display: block;
    width: 140px;
    height: 0px;
    overflow: hidden;
}
.chase:hover .submenu li a {
    height: 30px;
    transition: 0.3s;
    overflow: visible;
}
.submenu li a:hover {
    background-color: #464646;
}
.tableAll {
    display: table;
    width: 1000px;
}
.row {
    display: table-row;
}
aside {
    display: table-cell;
    background-color: #edeef0;
    width: 210px;
    color: #424c43;
    line-height: 1em;
}
aside p {
    padding: 1px 10px 10px 20px;
}
.cell1 {
    border-right: thin solid #c7cacf;
}
.cell3 {
    border-left: thin solid #c7cacf;
}
aside h3 {
    text-align: center;
    font-weight: bold;
    padding: 10px 0px;
    line-height: 1em;
}
section {
    display: table-cell;
    background-color: white;
}
footer {
    width: 1000px;
    text-align: center;
    margin: 0px auto 10px auto;
    color: #dee7ee;
}
