table {
    width: 500px;
    height: 540px;
}
table, td {
    border: 8px solid black;
    border-collapse: collapse;
}
.yellow {
    background-color: yellow;
}
.grey {
    background-color: #2d2d2d;
}
.red {
    background-color: red
}
.blue {
    background-color: blue;
}
#four {
    width: 12%;
}
#first {
    width: 24%;
}
#eleven {
    width: 12%;
}
#three {
    width: 35%;
}
#five {
    width: 55%;
}
.row1 {height: 9%;}
.row8, .row7 {height: 6%;}
.row6, .row5 {height: 10%;}
.row2, .row3 {height: 10%}
