<md-toolbar color="primary">
  <div>Volodymyr Ilemskyi</div>
  <nav class="large">
    <ul>
      <li><a routerLink="home"
             routerLinkActive="active">HOME</a></li>
      <li><a routerLink="cv"
             routerLinkActive="active">CV</a></li>
      <li><a routerLink="resume"
             routerLinkActive="active">RESUME</a></li>
      <li><a routerLink="certificates"
             routerLinkActive="active">CERTIFICATES</a></li>
    </ul>
  </nav>
  <button md-icon-button [mdMenuTriggerFor]="menu" class="small">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #menu="mdMenu">
    <button md-menu-item routerLink="home"
            routerLinkActive="active">
      <span>HOME</span>
    </button>
    <button md-menu-item  routerLink="cv"
            routerLinkActive="active">
      <span>CV</span>
    </button>
    <button md-menu-item  routerLink="resume"
            routerLinkActive="active">
      <span>RESUME</span>
    </button>
    <button md-menu-item  routerLink="certificates"
            routerLinkActive="active">
      <span>CERTIFICATES</span>
    </button>
  </md-menu>
</md-toolbar>
<router-outlet></router-outlet>
